---
layout: default
title: Categories
permalink: /categories/
---

{% assign site_categories = site.categories | sort %}

<div class="blog-page">

  <h1 class="blog-page-title"><i class="fa fa-archive"></i>Category</h1>

  <div class="blog-item-list">
    {% for category in site_categories %}
      {% assign cate = category | first %}
      {% assign cate_lower = cate | slugify %}
      {% assign posts = category | last %}
      <a href="{{ site.baseurl }}{{ site.category_page }}#{{ cate_lower }}" class="blog-category">
        <span class="blog-tag">{{ cate }}&nbsp;({{ posts.size }})</span>
      </a>
    {% endfor %}
  </div>


{% for tag_with_posts in site_categories %}

  {% assign tag = tag_with_posts | first %}
  {% assign posts = tag_with_posts | last %}

  <div class="blog-list" id="{{ tag | slugify }}">
    <h3>{{ tag }}</h3>

    <!-- This loops through the paginated posts -->
    {% for post in posts %}
      {% include post-excerpt.html %}
    {% endfor %}

  </div> <!-- /.blog-list -->

{% endfor %}


