---
layout: default
title: Home
---

<div class="blog-list">

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    {% include post-excerpt.html %}
  	
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center list-pagination">
      {% if paginator.previous_page %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">   
      {% endif %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="page-item active"><span class="page-link">{{ page }}<span class="sr-only">(current)</span></span></li>
          <!-- 1번 링크는 루트 링크로 설정 -->
          {% elsif page == 1 %} 
            <li class="page-item"><a class="page-link" href="/">{{ page }}</a></li>
          {% else %} 
            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

      {% if paginator.next_page %}
      <li class="page-item">
      {% else %}
      <li class="page-item disabled">   
      {% endif %}
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}
  
</div> <!-- ./blog-list -->
