---
layout: default
title: Tags
permalink: /tags/
---

{% assign site_tags = site.tags | sort %}

<div class="blog-page">

  <h1 class="blog-page-title"><i class="fa fa-tags"></i>Tags</h1>

  <div class="blog-item-list">
    {% for tag_with_posts in site_tags %}
      {% assign tag = tag_with_posts | first | slugify %}
      {% assign posts = tag_with_posts | last %}

      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag }}" class="post-tag">
        <span class="blog-tag">{{ tag  }}&nbsp;({{ posts.size }})</span>
      </a>
    {% endfor %}
  </div>


{% for tag_with_posts in site_tags %}

  {% assign tag = tag_with_posts | first %}
  {% assign posts = tag_with_posts | last %}

  <div class="blog-list" id="{{ tag | slugify }}">
    <h3>{{ tag }}</h3>

    <!-- This loops through the paginated posts -->
    {% for post in posts %}
      <div class="blog-post">
        <a class="blog-post-title" href="{{ post.url | prepend: site.baseurl }}" class="image featured"><img src="{{ post.banner | prepend: site.baseurl }}" alt="" />{{ post.title }}</a>
        <span class="blog-post-meta"><i class="fa fa-calendar">&nbsp;&nbsp;</i>{{ post.date | date: "%b %-d, %Y" }}</span>
     <!--      <span class="post-meta" style="margin-left:50px;margin-right:50px;"><i class="fa fa-comment-o">&nbsp;&nbsp;</i><a style="color:#828282" href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></span> -->
        <span class="blog-post-meta"><i class="fa fa-archive">&nbsp;&nbsp;</i>{{ post.categories }}</span>   
          
        <span class="blog-post-meta">
          <i class="fa fa-tags">&nbsp;&nbsp;</i>
          {% for tag in post.tags  %}
            <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="blog-tag">{{ tag }}</a>
          {% endfor %}
        </span>
        <p class="blog-post-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 75 }}
        </p>
      </div>
    {% endfor %}

  </div> <!-- /.blog-list -->

{% endfor %}


