<article>
	<div class="blog-post">

		<h1 class="blog-post-title">
			{{ page.title }} 
		</h1>

		<span class="blog-post-meta"><i class="fa fa-calendar">&nbsp;&nbsp;</i>{{ page.date | date: "%b %-d, %Y" }}</span>

       <span class="blog-post-meta"><i class="fa fa-archive">&nbsp;&nbsp;</i>
        {% for cate in page.categories  %}
          <a href="{{ site.baseurl }}{{ site.category_page }}#{{ cate | slugify }}" class="blog-category">{{ cate }}</a>
        {% endfor %}
      </span> 
      
		<span class="blog-post-meta">
	        <i class="fa fa-tags">&nbsp;&nbsp;</i>
	        {% for tag in page.tags  %}
	          <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="blog-tag">{{ tag }}</a>
	        {% endfor %}
      	</span>

		<hr class="blog-divider">

		<div class="blog-content">
		  {{ content }}
		</div>

	</div><!-- /.blog-post -->
</article>

{% if page.comments %}
	<div id="disqus_thread" class="blog-post-comment"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ site.disqus_short_name }}'; // required: replace example with your forum shortname
        // var disqus_developer = 1; // Comment out when the site is live
        var disqus_identifier = "{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
