<div id="accordion-category" class="blog-sidebar-group" role="tablist" aria-multiselectable="true">
  <div class="card">

    <div class="card-header menu-item" role="tab" id="headingOne">
      <p class="mb-0 blog-sidebar-header">
        <a data-toggle="collapse" data-parent="#accordion-category" href="#collapse-category" aria-expanded="true" aria-controls="collapse-category">
          Category
        </a> 
      </p>
    </div>

    <div id="collapse-category" class="collapse show " role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block ">
        <ul class="blog-sidebar-menu">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
        </ul>
      </div>
    </div>

  </div> <!-- /.card -->
</div>

<div id="accordion-tag" class="blog-sidebar-group" role="tablist" aria-multiselectable="true">
  <div class="card">

    <div class="card-header" role="tab" id="headingOne">
      <p class="mb-0 blog-sidebar-header">
        <a data-toggle="collapse" data-parent="#accordion-tag" href="#collapse-tag" aria-expanded="true" aria-controls="collapse-tag">
          Tags
        </a>
      </p>
    </div>

    <div id="collapse-tag" class="collapse show " role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block ">
        <p>
          {% for tag in site.tags %}
            {% assign t = tag | first %}
            {% assign posts = tag | last %}
            {% assign tag_lower = t | downcase | replace:" ","-" %}
            <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag_lower }}" class="post-tag">
              <span class="label label-default">{{tag_lower}}({{ posts | size }})</span>&nbsp;
            </a>
          {% endfor %}
        </p>
      </div>
    </div>

  </div> <!-- /.card -->
</div>

<div id="accordion-archive" class="blog-sidebar-group" role="tablist" aria-multiselectable="true">
  <div class="card">

    <div class="card-header" role="tab" id="headingOne">
      <p class="mb-0 blog-sidebar-header">
        <a data-toggle="collapse" data-parent="#accordion-archive" href="#collapse-archive" aria-expanded="true" aria-controls="collapse-archive">
          Archives
        </a>
      </p>
    </div>

    <div id="collapse-archive" class="collapse show " role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block ">
        <ul class="blog-sidebar-menu">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
        </ul>
      </div>
    </div>

  </div> <!-- /.card -->
</div>