/* 
  Global
*/
body {
  /*font: 'Poiret One', 'Noto Sans', Arial, sans-serif;*/
  font: 'Lato', 'Noto Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*a, a:hover, a:visited { 
  text-decoration: none;
  color: #0070c9;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    /*border-radius: 5px;*/
}

/*
* Navbar
 */
.blog-navbar {
  border-bottom: .05rem solid #eee;
  background: #6EAFF5;
}
.blog-title, .blog-title:hover {
  font-family: 'Baloo';
  font-size: 2rem;
  color: #E6ECF2 !important;
  padding-right: .5rem;
  text-decoration:none;
}
.blog-description {
  font-family: 'Dancing Script';
  font-size: 1rem;
  color: #DCE7F2;
  padding-top: .8rem;
}
.nav-item .blog-menu-item {
  font-family: 'Lato';
  font-weight: bold;
  color: #D5DFE8 !important;
}
.nav-item .blog-menu-item:hover,
.nav-item .blog-menu-item:active {
  color: #FFFFFF !important;
}
.btn-menu {
  margin-top: .75rem;
  border-color: #E6ECF2 !important;
}
.btn-menu-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E6ECF2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


/*
* Container
 */
.content-wrapper {
  padding: 5.5rem 1rem 1rem 1rem;
  width: 100%;
}
.blog-post-title {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.blog-list .blog-post {
  width: 100%;
  /*padding-bottom: 3rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ebebeb;
}
.blog-list .blog-post-title {
  color: #3db39e;
  font-size: 1.5rem;
}

.blog-list .blog-post-excerpt {
  margin-top: 1rem;
  line-height: 19px;
  font-size: .8rem;
  color: #6b6b6b;
  /* 2 lines */
  display: -webkit-box;
  /* multi-line ellipsis */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}


/*
* Blog Post
 */
.blog-post-meta {
  margin-left: .3rem;
  margin-right: 1rem;
  font-size: .9rem;
  color: #9a9a9a;
}
.blog-post-content a, 
.blog-post-content a:hover, 
.blog-post-content a:visited {
  text-decoration: none;
  color: #1193FA;
}


/*
 * Pagination
 */
.list-pagination {
  padding-top: 1rem;
}


/*
 * Tags, Categories
 */
.blog-page, article {
  padding-top: 1rem;
}
.blog-page-title {
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.blog-page-title .fa  {
  font-size: 1.8rem;
  color: #9a9a9a;
  padding-right: .5rem;
}
.blog-item-list {
  padding: 1rem 0rem 0.5rem 0rem ;
  border-bottom: 1px solid #ebebeb;
}
.blog-tag, .blog-category {
  display: inline-block;
  background: #E1EFF5;
  padding: 0 .5rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.blog-tag:hover, .blog-category:hover {
    text-decoration: none;
    background: #8CD6F5;
    color: #fff;
}

.blog-page .blog-list {
  padding: 1rem;
  display: none;
}
.blog-page .active {
  display: block;
}

/**
 * article
 */
article .blog-divider {
  border-bottom: 1px solid #eee;
}
article .blog-content {
  /*padding-top: 1rem;*/
  color: #515151;
  font-size: .9rem;
}
article .blog-post-title {
  color: #5e5e5e;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: .5rem;
}
article h1, article h2 {
  font-size: 1.6rem;
}
article h3, article h4 {
  font-size: 1.2rem;
}
article h5, article h6 {
  font-size: 1.1rem;
  color: #43424D !important;
}
article .blog-content h1, 
article .blog-content h2, 
article .blog-content h3, 
article .blog-content h4, 
article .blog-content h5, 
article .blog-content h6 {
  font-weight: 700;
  margin: 2rem 0 1rem 0;
  color: #6653D4;
}
pre.highlight {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #3f3f3f;
  color: #dcdcdc;
  border-radius: 4px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 0.5rem;
  width: 100%;
  font-size: .75rem;
  /*text-align: center;*/
  background-color: #f0f0f0;
  color: #aaa;
}
